<%= render 'navigation' %>

<div class="cover">
  <div class="cover-text">
    <!-- <h1>You probably haven't heard of us.</h1> -->
    <!-- <p>楽しいキッズスペースがあるので、子育て中のパパ・ママも大助かり！
    もちろんキッズカットは1,000円～とリーズナブル（０歳～OK!)
    小さい子供がいて騒いじゃうのが心配とお悩みの方もほぼ貸切なので、気兼ねなく自由に遊ばせておくことができます。女性の方には、レディースシェービング（お顔そり＋エステ＋パック付）で3,300円！自分へのご褒美にゆっくりくつろいでみませんか？男性の方にはオプションで頭皮スッキリ！クレイヘッドスパが、カット料金＋1,000円でできます。男女問わずお子様から年配の方まで、自分の部屋のように自由にくつろげる空間です。</p> -->
    <!-- <a href="#why-us" role="button" class="btn btn-danger btn-lg">Let's get started, I guess</a> -->
  </div>
</div>

<section class="testimonial">
  <div class="container">
    <blockquote>
    "楽しいキッズスペースがあるので、子育て中のパパ・ママも大助かり！
    もちろんキッズカットは1,000円～とリーズナブル（０歳～OK!)
    小さい子供がいて騒いじゃうのが心配とお悩みの方もほぼ貸切なので、気兼ねなく自由に遊ばせておくことができます。女性の方には、レディースシェービング（お顔そり＋エステ＋パック付）で3,300円！自分へのご褒美にゆっくりくつろいでみませんか？男性の方にはオプションで頭皮スッキリ！クレイヘッドスパが、カット料金＋1,000円でできます。男女問わずお子様から年配の方まで、自分の部屋のように自由にくつろげる空間です。" -Schwiez
    </blockquote>
  </div>
</section>

<section id="why-us">
  <h2>Why Hipstrify?</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Artisanal</h3>
        <p>Umami master cleanse actually plaid. Williamsburg twee occupy, cold-pressed mixtape post-ironic iPhone knausgaard neutra thundercats ugh you probably haven't heard of them mlkshk. Farm-to-table swag leggings echo park, quinoa ethical twee marfa kale chips food truck neutra gastropub hella ugh. Vinyl lo-fi mustache post-ironic, pabst squid mixtape viral master cleanse franzen quinoa 90's. Waistcoat you probably haven't heard of them leggings locavore, keffiyeh skateboard fixie authentic fashion axe semiotics. 90's celiac DIY selvage. Fashion axe etsy seitan, locavore williamsburg gentrify kickstarter meggings typewriter beard flannel DIY.</p>
      </div>
      <div class="col-sm-4">
        <h3>Ready made</h3>
        <p>Umami master cleanse actually plaid. Williamsburg twee occupy, cold-pressed mixtape post-ironic iPhone knausgaard neutra thundercats ugh you probably haven't heard of them mlkshk. Farm-to-table swag leggings echo park, quinoa ethical twee marfa kale chips food truck neutra gastropub hella ugh. Vinyl lo-fi mustache post-ironic, pabst squid mixtape viral master cleanse franzen quinoa 90's. Waistcoat you probably haven't heard of them leggings locavore, keffiyeh skateboard fixie authentic fashion axe semiotics. 90's celiac DIY selvage. Fashion axe etsy seitan, locavore williamsburg gentrify kickstarter meggings typewriter beard flannel DIY.</p>
      </div>
      <div class="col-sm-4">
        <h3>Small Batches</h3>
        <p>Umami master cleanse actually plaid. Williamsburg twee occupy, cold-pressed mixtape post-ironic iPhone knausgaard neutra thundercats ugh you probably haven't heard of them mlkshk. Farm-to-table swag leggings echo park, quinoa ethical twee marfa kale chips food truck neutra gastropub hella ugh. Vinyl lo-fi mustache post-ironic, pabst squid mixtape viral master cleanse franzen quinoa 90's. Waistcoat you probably haven't heard of them leggings locavore, keffiyeh skateboard fixie authentic fashion axe semiotics. 90's celiac DIY selvage. Fashion axe etsy seitan, locavore williamsburg gentrify kickstarter meggings typewriter beard flannel DIY.</p>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="container">
    <h2>メニュー</h2>
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag("mariobank.jpg", class: "img-circle") %>
        <h3>Children</h3>
        <p>幼児カット - 1500</p>
        <p>小学生カット - 1700</p>
        <p>中学生カット - 2200</p>
        <p>高校生カット - 2800</p>
      </div>
      <div class="col-sm-3">
        <%= image_tag("mariobank.jpg", class: "img-circle") %>
        <h3>Ladies</h3>
        <p>カット (シャンプー、ブロー付) - 4200</p>
        <p>カラーのみ - 5500</p>
        <p>カット＋カラー - 7800</p>
        <p>カット＋パーム - 8000</p>
        <p>カット＋縮毛矯正 - 13,500</p>
        <p>お顔そりコース - 2600</p>
      </div>
      <div class="col-sm-3">
        <%= image_tag("mariobank.jpg", class: "img-circle") %>
        <h3>Gentlemen</h3>
        <p>カットのみ - 2500</p>
        <p>カット (シャンプー付) - 3300</p>
        <p>カット (シャンプー、顔そり付) - 4000</p>
        <p>カット＋カラー - 7300</p>
        <p>カット＋パーム - 7800</p>
        <p>カット＋縮毛矯正 - 11,000</p>
      </div>
      <div class="col-sm-3">
        <%= image_tag("mariobank.jpg", class: "img-circle") %>
        <h3>Products</h3>
        <p>Photo booth poutine direct trade +1, VHS paleo messenger bag migas thundercats kogi chambray.</p>
      </div>
    </div>
  </div>
</section>

<section id="signup">
  <div class="container">
    <h2>Get our handcrafted newsletter</h2>
    <p class="lead">Seriously, we'll send you real paper in the mail. We don't do email.</p>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <form>
          <input type="text" class="form-control input-lg" placeholder="Put your real address here...">
          <span class="input-group-btn">
            <button class="btn btn-warning btn-lg">Handcraft it</button>
          </span>
        </form>
      </div>
    </div>
  </div>
</section>

<footer>
  crafted with &hearts; in Sapporo by <a href="">Paulo</a>
</footer>